.colorss{
    background-color:rgba(6, 60, 3, 0.937);
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding:10px

}

body{
  background-color:white;
}
 
.back {
    
    background-image: url("div1_imag.png");
    height: 400px;
    width: 10000px;
    background-repeat:no-repeat;
 }

#t{
    font-size:56px;
    padding:0px;
}

.y{
    padding:40px;
    background-color: bisque;
    height:550px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#div1 div {
    width:30px;height:30px;
    border:blue 1px solid;
    display:inline-block;
    *display:inline;zoom:1;
    margin:0px; 
    vertical-align: top;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
 }

 div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  .product {
	width: 15%;
	min-height: 200px;
	margin-right: 1%;
    background-color: #fff;
    border-radius:10px;
    margin-bottom: 30px;
    box-shadow: 0 0 30px rgba(256,256,256, .4);
    display: inline-block;
    margin:30px;

     
}
.product .product-card {
	display: block;
	width: 1;
	height: 300px;
	 margin: 5px 5px 5px;
   padding:20px;
}

.parent {
    
    padding: 1rem;
    text-align: center;
    height:5pppx;
    
  }
 
  .fo{ 
    background-color: rgb(91, 87, 87);
  }
   
#r{
    background-color: rgb(10, 10, 10);
  opacity: 0.3;
  height:400px;
  width:100000px;
  padding:0px;
  margin:0px;

}

#gree{
  background-color:rgb(6, 65, 6);
  height:700px;
  width:1000;
  color:white;

}

#gree td{
  color:white;
  text-align:center;
}

#gree th{
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
  text-align:center;
   
}

#tablee
{
    text-align:center;
    padding: 0px;
    background-color: rgb(108, 102, 102);
    color:#b7b6b6;
    height:250px;
    margin:0px;
    
}

th{
  color:rgb(22, 19, 19);
  font-size:20px;
}

td{
  color:rgb(232, 226, 224);

}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

#heading{
  font-family:  serif;
  font-size:30px;
  font-weight:500;
  background-color: rgb(12, 77, 12);

}

#table td{
  color:rgb(230, 120, 17);
}
table #cc{
  color:rgb(230, 120, 17);
}
a:visited,a:link{
  color:rgb(230, 120, 17);
}
 #blog{
  height:400px;
  padding-top:30px;
 }

 #back
 {
  width:cover;
  text-align:center;
  background-color:rgb(248, 231, 153);
   font-size:40px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #scroll-text
 {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}


@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

 